* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-color: whitesmoke;
    height: 2000px;
}

/* HEADER */

header {
    position: relative;
    width: auto;
    height: 100px;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

    /* HEADER. logo */

.main_logo {
    position: absolute;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    left: 130px;
    top: 20px;
    color: white;
    font-family: sans-serif; 
    font-size: larger;
    font-weight: 500;
    text-align: center;
    border-radius: 4px;
    padding-bottom: 5px;
    transition: .3s;
}

.main_logo:hover {
    transform: scale(1.1);
}

.main_logo p {
    background-color: white;
    color: cadetblue;
    padding: -1px;
}

.main_logo a {
    text-decoration: none;
    color: white;
}

    /* HEADER. nav */

header ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    list-style: none;
}

header li a {
    width: 150px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #00ffff34;  
    text-align: center;
    
}

header li a:hover {
    background-color: rgb(14, 231, 159);
    transition: 1.2s;
}

/* MAIN. html list */

.html_list {
    position: absolute;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 700px;
    overflow-y: scroll;
    left: 100px;
    text-align: center;
}

.html_list h1 {
    color: cadetblue; 
}

.html_list a {
    color: cadetblue;
    display: block;
    font-weight: bold;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.html_list a:hover {
    background-color: aqua;
    color: grey;
}

/* MAIN_TXT */

.main_txt {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 50px;
}

.main_txt ul {
    margin-left: 30px;
}

.main_txt div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* FOOTER */

footer {
    background-color: cadetblue;
    height: 100px;
    margin-top: 2000px;
}

